.text-box h3{
    color: pink;
}

#greycol{
    color: grey;
}
#greycol + div{
    color: black;
}
div>p {
    color: red;
}
h3 + p{
    color: green;
}
.yellow{
    color: yellow;
}
.container {
    width: 60xp;
    margin: 25px auto;
    padding: 20px;
}
a {
    cursor: pointer;
}
a:visited {
    color: red;
}
li:hover {
    background-color: red;
}
.btn:active {
    background-color: darkblue;
    color: white;
}
input:focus {
    border: 2px solid green;
    background-color: yellow;
}
li:last-child {
    color: red;
}
li:nth-child(3) {
    color: blue;
}
.btn {
    background-color: orange;
    color: white;
    cursor: pointer;
}
input {
color: gray;
}